* {
    font-family: 'Shadows Into Light', cursive;
}

[ng-view] {
    background-color: white;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flexcontainer {
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .flexcontainer {
        flex-direction: row;
    }
}

.one, .two, .three, .four, .five, .six {
    height: 20mm;
    width: 30mm;
    background-color: green;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    
    margin-top: 2mm;
    margin-right: 2px;
    margin-left: 2pt;
    margin-bottom: 2mm;

    padding: 2mm;

    transition: all 1s linear 0s;

    /* text is also centered */
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexcontainer > div:hover {
    width: 70mm;
}

.two {
    height: 35mm;
}

.five {
    width: 60mm;
}

.one {
    font-size: 35px;
}

.two {
    font-size: 3em;
}

.three {
    font-size: 150%;
}

.four {
    font-size: 10mm;
}

.five {
}

.six {
}
