* {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.05em;
}

[ng-view] {
    background-color: white;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.flexcontainer {
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .flexcontainer {
        flex-direction: row;
    }
}

.one, .two, .three, .four, .five, .six {
    height: 20mm;
    flex-basis: 30mm;
    background-color: green;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    
    margin-top: 2mm;
    margin-right: 2px;
    margin-left: 2pt;
    margin-bottom: 2mm;

    padding: 2mm;

    transition: all 1s linear 0s;

    /* text is also centered */
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexcontainer > div:hover {
    flex-basis: 70mm;
}

.one {
}

.two {
    height: 35mm;
}

.two {
}

.three {
    flex-grow: 1;
}

.four {
}

.five {
    flex-basis: 60mm;
}

.six {
}
